html {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  scroll-behavior: smooth;
  color: #434343;

  /* @media screen and (max-width: 425px) { */
  /*   zoom: 0.7; */
  /* } */
}

body {
  height: 100%;
  margin: 0;
  padding: 15px;
  color: #434343;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: subpixel-antialiased;
  text-rendering: optimizeLegibility;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: background 2s ease-in-out;
  background-color: #f4f3f5;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23e3dced' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
}

#root {
  max-width: 1200px;
  width: 100%;
  margin-bottom: 100px;
  padding: 20px;
  background-color: #ffffffcc;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-top: 20px;
  gap: 20px;
}

.card {
  background: #f6e9ffcc;
  box-shadow: 1px 1px 4px 0px rgb(228 228 228);
  padding: 10px;
  cursor: pointer;
  font-weight: 500;
  font-style: normal;
  border: solid 1px #f3e1ff;
  transition: box-shadow 0.3s ease-in-out;
}

.card:hover {
  box-shadow: 3px 3px 4px 0px rgb(228 228 228);
  transition: box-shadow 0.3s ease-in-out;
}

code {
  background-color: #0a0725;
  display: flex;
  width: fit-content;
  flex-direction: column;
  color: #00ff28;
  padding: 14px;
  border-radius: 10px;
  box-shadow: 1px 3px 9px 0px #0a0a0ab0;
}

img {
  border-radius: 10px;
  box-shadow: 1px 3px 9px 0px #0a0a0ab0;
  width: 100%;
}

p {
  margin: 0px;
}

a {
  color: inherit;
  text-decoration: none;
}

summary {
  cursor: pointer;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 20px;
}

.articles-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.articles-header > h1 {
  font-size: 50px;
  font-weight: 600;
  margin: 0;
  background: linear-gradient(to top left, #912aff 65%, #b400ff 74%, #602aff 76%, #f700ff 100%);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;

  @media screen and (max-width: 425px) {
    font-size: 18px;
  }
}

table {
  padding: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(222, 222, 223);
  color: rgb(0, 0, 0);
}

th {
  background-color: rgb(236, 239, 241);
  color: rgb(0, 0, 0);
  padding: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(222, 222, 223);
}

td {
  padding: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(222, 222, 223);
  color: rgb(0, 0, 0);
}
