html {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  scroll-behavior: smooth;
  color: #434343;

  /* @media screen and (max-width: 425px) { */
  /*   zoom: 0.7; */
  /* } */
}

body {
  height: 100%;
  margin: 0;
  padding: 15px;
  color: #434343;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: subpixel-antialiased;
  text-rendering: optimizeLegibility;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: background 2s ease-in-out;
}

#root {
  max-width: 800px;
  width: 100%;
  margin-bottom: 100px;
}

.light-gradient {
  background-color: hsla(165, 0%, 100%, 1);
  background-image:
    url("data:image/svg+xml,%3Csvg viewBox='0 0 962 962' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E"),
    radial-gradient(circle at 0% 0%, hsla(256, 82%, 77%, 0.35) 3.1210986267166043%, transparent 40%),
    radial-gradient(circle at 20% 0%, hsla(197, 77%, 74%, 0.35) 3.1210986267166043%, transparent 40%),
    radial-gradient(circle at 40% 0%, hsla(147, 77%, 74%, 0.35) 3.1210986267166043%, transparent 40%),
    radial-gradient(circle at 60% 0%, hsla(88, 77%, 74%, 0.35) 3.1210986267166043%, transparent 40%),
    radial-gradient(circle at 80% 0%, hsla(23, 77%, 74%, 0.35) 3.1210986267166043%, transparent 40%),
    radial-gradient(circle at 100% 0%, hsla(234.26470588235304, 100%, 50%, 0.35) 3%, transparent 40%);
  background-blend-mode: overlay, normal, normal, normal, normal, normal, normal;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-top: 20px;
  gap: 20px;
}

.card {
  background: #ffffffcc;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100px;
  height: 100px;
  cursor: pointer;
  font-family: "Homemade Apple", cursive;
  font-weight: 400;
  font-style: normal;
  text-transform: capitalize;
}

code {
  background-color: #0a0725;
  display: flex;
  width: fit-content;
  flex-direction: column;
  color: #00ff28;
  padding: 14px;
  border-radius: 10px;
  box-shadow: 1px 3px 9px 0px #0a0a0ab0;
}

img {
  border-radius: 10px;
  box-shadow: 1px 3px 9px 0px #0a0a0ab0;
  width: 100%;
}

p {
  margin: 0px;
}

a {
  color: inherit;
  text-decoration: none;
}

summary {
  cursor: pointer;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 20px;
}

.articles-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-image: linear-gradient(to right, #582aff 25%, #a800ff5c 54%, #9932cc26 89%) 1;
}

.articles-header > h1 {
  font-size: 30px;
  font-weight: 600;
  margin: 0;
  background: linear-gradient(to top left, #912aff 65%, #b400ff 74%, #602aff 76%, #f700ff 100%);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;

  @media screen and (max-width: 425px) {
    font-size: 18px;
  }
}

table {
  padding: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(222, 222, 223);
  color: rgb(0, 0, 0);
}

th {
  background-color: rgb(236, 239, 241);
  color: rgb(0, 0, 0);
  padding: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(222, 222, 223);
}

td {
  padding: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(222, 222, 223);
  color: rgb(0, 0, 0);
}
